*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.flex{display: flex;}
.ai{align-items: center;}
.jcc{justify-content: center;}
.sb{justify-content: space-between;}
.se{justify-content: space-evenly;}
.sa{justify-content: space-around;}
.column{flex-direction: column;}
.c{color: white;}
.ml{margin-left: 10%;}
.mt{margin-top: 2%;}



